# Ignore Visual Studio temporary files and build results

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
TestResults/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

# Any temporary files
*.tmp

# Word temporary (.doc, .docx)
~$*.doc*

# Excel temporary (.xls, .xlsx)
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary (.ppt, .pptx)
~$*.ppt*

# Visio autosave temporary files (.vsd, .vsdx)
*.~vsd*

# web client builds and node_modules
web_client/node_modules/
web_client/dist/
web_client/app-builds

#some .net build packages
/KnockoutCrudExample/packages
